{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    {% block styles%}
            {{ super() }}
            <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
            
        {% endblock %}
        
    <!--Navbar content-->
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}    
        
       
        {% block content %}

        {% endblock%}
    </body>
</html>

