{% extends 'base.html'%}

{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">

{% endblock %}
    <body>
    {% block content %}
    

       <ul>
    <div style= "font-size:20px; color:green;" class="container"> 
    <marquee style= "font-size:50px; font-family: 'ZCOOL Xiaowei', cursive;">All The News That's Fit to Print!! <img src="https://thumbs.dreamstime.com/thumblarge_5986/59866027.jpg" height="60px">right-left;</marquee> 
       <div class="row">
       {% for item in enter%}
       <div class="col-md-6">
        <div class="thumbnail">
            <img src="{{item.urlToImage}}" alt="{{item.title}}">
            <li style="color:magenta;  font-size:30px;">{{item.name}}</li>
            <hr>
            
            <h6 style="text-decoration:underline;">Diving deeper into {{ item.name }}</h6>
            <p style="color:black; font-family: 'italic', cursive;">{{ item.description }}</p>
            <hr>
            
            <a href="{{item.url}}"><button style=" border:1px solid darkolivegreen;" class="btn btn-sm">Visit</button></a>
            
        </div>
       </div>
       {% endfor %}
       </div>
    </div> 
       </ul>
    {% endblock %}
    </body>
