
<nav class="navbar navbar-light navbar-fixed" style="background-color:palegreen;">
    <a class="navbar-brand" href="#"> <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/417049/original/gothic/customize-a-gothic-style-logo-with-your-name-or-brand.jpg" height="100px"> </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <button class="btn btn-light"><h7 class="nav-item"><align="right"><a class="nav-link" href="/">Home</a></h7></button>
      </ul>
      <form align="left" class="form-inline">
        <input align="left" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
      </form>
    </div>
  </nav>
  